@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  /* PRIMARY */
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* NEUTRAL */
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}

/* MOBILE VIEWPORT */
section,
header,
.footer-section {
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1.75rem;
  font-size: 2.864rem;
}

h3 {
  margin-bottom: 0.7rem;
}

p {
  color: var(--Grayish-Blue);
  margin-bottom: 5.1rem;
}

header {
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header img {
  margin: 6rem 0 5.2rem;
}

.button {
  display: grid;
  gap: 2rem;
}

button {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: white;
  padding: 1.5rem 2rem;
  width: 100%;
  border-radius: 2.5rem;
  border: 0;
}

.cyan-button {
  background-color: var(--Strong-Cyan);
}

.blue-button {
  background-color: var(--Light-Blue);
}

/* SNIPPETS SECTION */
.snippets-section {
  margin-top: 6.5rem;
}

.snippets-image img {
  width: 100%;
  margin-bottom: 3rem;
}

/* CLIPBOARD SECTION */

.clipboard-section img {
  width: 100%;
}

/* WORKFLOW SECTION */
.feature img {
  height: 3.2rem;
  width: 5rem;
  margin-bottom: 2.7rem;
}

/* COMPANY SECTION */
.company-section {
  display: grid;
  justify-content: center;
}

.company-section img {
  margin: 0 auto 5rem;
}

/* FOOTER SECTION  */
.footer-section {
  /* background-color: var(--Grayish-Blue); */
}

.footer-section img {
  width: 4.5rem;
  margin: 3rem auto;
}

.footer-paragraphs p {
  font-weight: 400;
  margin-bottom: 3rem;
}

.social-icons {
  margin: 0 auto;
}

.social-icons img {
  width: 3rem;
}

.social-icons img:not(:last-child) {
  margin-right: 3.5rem;
}

/* DESKTOP VIEWPORT  */
@media (min-width: 700px) {

  section,
header,
.footer-section {
  padding: 8rem;
}

  header p {
    max-width: 605px;
    text-align: center;
    margin: 0 auto 5.1rem;
  }

  .button {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
  }


  .snippets-section p {
    max-width: 685px;
    text-align: center;
    margin: 0 auto 5.1rem;
  }

  .snippets-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }

  .snippets-text,
  .snippets-text p {
    text-align: left;
    max-width: 407px;
  }

  .workflow {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .feature p {
    max-width: 500px;
  }

  .company-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10rem;
  }

  .download-section p {
    max-width: 700px;
    margin: 0 auto 5.1rem;
  }

  .footer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-paragraphs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    text-align: left;
  }
}
